.fp-playlist {
  display: inline-block;
  left: 0;
  position: absolute;
  text-align: center;
  top: 102%;
  width: 100%;
}

.fp-playlist span {
  margin-top: 5px;
}

.fp-playlist img {
  margin-top: 5px;
}

@media only screen and (min-width : 320px) {
  .fp-playlist img {
    height: 48%;
    width: 48%;
  }
}

@media only screen and (min-width : 480px) {
  .fp-playlist img {
    height: 48%;
    width: 48%;
  }
}

@media only screen and (min-width : 768px) {
  .fp-playlist img {
    height: 31%;
    width: 31%;
  }
}

@media only screen and (min-width : 992px) {
  .fp-playlist img {
    height: 31%;
    width: 31%;
  }
}

@media only screen and (min-width : 1200px) {
  .fp-playlist img {
    height: 31%;
    width: 31%;
  }
}
