{#
/**
 * @file
 * Default theme implementation to display a video using flowplayer.
 *
 * Available variables:
 *
 * - settings: A collection of attributes for the video player, including:
 *              'flowplayer' use flowplayer from.
 *              'width' of the palyer.
 *              'height' of the player.
 *              'skin' skin for flowplayer.
 *              'ratio' the ratio for the palyer.
 *              'playlist' use playlist.
 *              'videodesccontains' the type of info in the decription os videos.
 *              'advance' the behavior of the plaulist.
 *              'class' for custom player styling.
 *              'preload' data load behavoir.
 *              'autoplay'
 *              'muted'
 *
 * - poster:  The poster attributes for the video player, including:
 *              'url' of the poster.
 *
 * - videos:  A collection of HTML attributes for the <source> tags, including:
 *              'src' of the videos
 *              'type' of the videos.
 *              'descrition' of the videos.
 * - subs:    A collection of HTML attributes for the <track> tags, including:
 *              'src' of the subtitles
 *              'label' of the subtitles.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
  */
#}

{% if settings.flowplayer == 'cdn' %}
  {{ attach_library('flowplayer_html5_video/flowplayer_cdn') }}
{% endif %}
{% if settings.flowplayer == 'local' %}
  {{ attach_library('flowplayer_html5_video/flowplayer_local') }}
{% endif %}
{% if settings.flowplayer == 'cdn' or settings.flowplayer == 'local' %}
  <div id="flowplayer_1" class="flowplayer {{ settings.skin }}" style="width: {{ settings.width }}; height: {{ settings.height }};" data-ratio="{{ settings.ratio }}"{% if settings.playlist == true %} data-advance="{{ settings.advance }}"{% endif %}>
    <video class="{{ settings.class }}" style="background-color: #000000;" poster="{{ poster.url }}" preload="{{ settings.preload }}"{% if settings.autoplay == true %} autoplay{% endif %}{% if settings.muted == true %} muted{% endif %}>
      {% for video in videos %}
        <source src="{{ video.src }}" type="video/{{ video.type }}"/>
      {% endfor %}
      {% for sub in subs %}
        <track src="{{ sub.src }}" kind="subtitles" srclang="" label="{{ sub.label }}"/>
      {% endfor %}
    </video>
    {% if settings.playlist == true %}
      {{ attach_library('flowplayer_html5_video/flowplayer_basic_playlist') }}
      <div id="fp_playlist_1" class="fp-playlist">
        {% for video in videos %}
          {% if settings.videodesccontains == 'text' %}
            <a href="{{ video.src }}"><span>{{ video.description }}</span></a>
          {% endif %}
          {% if settings.videodesccontains == 'url' %}
            <a href="{{ video.src }}"><img src="{{ video.description }}" alt=""></a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
{% if settings.flowplayer == 'disabled' %}
  <video class="{{ settings.class }}" style="width: {{ settings.width }}; height: {{ settings.height }};" controls poster="{{ poster.url }}"{% if settings.autoplay == true %} autoplay{% endif %}{% if settings.muted == true %} muted{% endif %}>
    {% for video in videos %}
      <source src="{{ video.src }}" type="video/{{ video.type }}"/>
    {% endfor %}
    {% for sub in subs %}
      <track src="{{ sub.src }}" kind="subtitles" srclang="" label="{{ sub.label }}"/>
    {% endfor %}
  </video>
{% endif %}
